# Database Config
DB_USER=postgres
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_PORT=5432
DB_NAME=woloczyn_db

# API Config
PORT=3333
JWT_SECRET=super_secret_jwt_key_here

# n8n Webhook API Key
N8N_API_KEY=CHAVE_SUPER_SECRETA
